body {
    background: red url("images/Rotating_Earth.gif") no-repeat right bottom;
}

li a {
    color: purple;
}

head {
    color: blue;
}

former b {
    height: 20px;         
}

task {
        shout down a
}
